<div class="card-container center-block">
  <div class="card" id="{{id}}">
    <div class="front">
      <div class="card-contents">
        <div class="card-header">
          <h2 class="card-name">{{name}}</h2>
          <h2 class="card-reward">{{reward}}</h2>
          <img src="http://cliparts.co/cliparts/pT5/oAj/pT5oAjbkc.png" class="gold-img">
          <div style="clear: both;"></div>
        </div>
        
        <img src="{{imageURL}}" width="320" height="320" class="card-img img-responsive">

        <div class="card-requirements">
          <p class="card-requirements-text">Flip For Details</p>
        </div>
      </div>
    </div>
    <div class="back">
      <div class="card-contents">
        {{!-- List the card description bullets here --}}
        <ul class="card-reqs">
          {{#each requirements}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>