<!DOCTYPE html>
<html>
  <head>
    <title>All Chores</title>
    {{> styles }}
  </head>
  <body>
  {{> navbar }}
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <br/>
        <div class="alert alert-info">
        Hey! To learn more about these cards, visit our <a href="#">tutorial</a>!
        </div>
        <ul class="list-cards">
          {{#each cards.cards}}
          <div class="card-container">
            <div class="card" id="{{id}}">
              <div class="card-contents">
                <div class="card-header">
                  <h2 class="card-name">{{name}}</h2>
                  <h2 class="card-reward">{{reward}}</h2>
                  <img src="http://cliparts.co/cliparts/pT5/oAj/pT5oAjbkc.png" class="gold-img">
                  <div style="clear: both;"></div>
                </div>
                
                <img src="{{imageURL}}" width="320" height="320" class="card-img">

                <div class="card-requirements">
                  <p class="card-requirements-text">{{requirements}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {{/each}}
        </ul>
      </div>
    </div>

    <footer class="row">
      <!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
      <p class="text-center">
        Copyright Team Mech, 2016
      </p>
    </footer>

  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/temp.js"></script>
  </body>
</html>
