<!doctype html>

<html>
<head>
	<title>Chore Champs - Home</title>
    {{> styles }}
</head>

<body>
	{{> navbar }}
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<br/>
				<div class="alert alert-info">
				Hey! If you're new to these woods, try the <a href="#">tutorial</a>!
				</div>
				<ul class="list-group">
					<a href="mychores/{{name}}" class="list-group-item">
						My Chores <span class="badge">{{ chore.mine }}</span>
					</a>
					<a href="verifychores/{{name}}" class="list-group-item">
						Verify Chores <span class="badge">{{ chore.unverified }}</span>
					</a>
					<a href="allchores/{{name}}" class="list-group-item">
						All Chores <span class="badge">{{ chore.count }}</span>
					</a>
					<a href="store/" class="list-group-item">
						Store <span class="badge"></span>
					</a>
					<a href="settings/" class="list-group-item">
						House Settings <span class="badge"></span>
					</a>
				</ul>
			</div>
		</div>
		<footer class="row">
			<!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
			<p class="text-center">
				Copyright Team Mech, 2016
			</p>
		</footer>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
