<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  {{> styles }}
</head>
<body>
{{> navbar }}
<div class="container">

  <div class="jumbotron">
    <h1>The Dealer</h1>
    <p class="text-center">
      <small><em>Gold is a powerful force of persuasion.</em></small>
      {{!-- It's not a <em>bribe</em> per se. I'd call it a monetary incentive. --}}
    </p>
  </div>

  {{#each inventory}}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">{{name}}</h1>
      <img src="{{ imgURL }}" alt="" class="img-responsive center-block"/>
      <h4 class="text-center">{{ description }}</h4>
      <button class="store-item btn btn-lg btn-default center-block">Buy ({{price}} gold)</button>
      <input type="hidden" value="{{price}}" class="price-hack"/>
    </div>
  </div>
  {{/each}}

  <hr/>
  <footer class="row">
    <!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
    <p class="text-center">
      Copyright Team Mech, 2016
    </p>
  </footer>

</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/pages/store.js"></script>
  <script type="text/javascript" src="https://rawgit.com/usablica/intro.js/master/src/intro.js"></script>
</body>
</html>
