<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  {{> styles }}
</head>
<body>
{{> navbar }}
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <br/>
      <div class="alert alert-info">
      Hey! Buy some perks! To learn more about these perks, visit our <a href="#">tutorial</a>!
      </div>
    </div>
  </div>

  {{#each inventory}}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">{{name}}</h1>
      <img src="{{ imgURL }}" alt="" class="img-responsive center-block"/>
      <h4 class="text-center">{{ description }}</h4>
      <button class="store-item btn btn-lg btn-default center-block">Buy ({{price}} gold)</button>
      <input type="hidden" value="{{price}}" class="price-hack"/>
    </div>
  </div>
  {{/each}}

  <hr/>
  <footer class="row">
    <!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
    <p class="text-center">
      Copyright Team Mech, 2016
    </p>
  </footer>

</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/pages/store.js"></script>
</body>
</html>
