<!DOCTYPE html>
<html>
  <head>
    <title>Verify Chores</title>
    {{> styles }}
  </head>
  <body>
	<!-- this is a comment in HTML -->
  {{> navbar }}
	<div class="container">
    <div class="jumbotron">
      <h1>Verify Chores</h1>
      <p class="text-center">
        <small><em>"Squeaky clean," they said.</em></small>
      </p>
    </div>

		<p></p>

    <h3>Pending Approval</h3>
    <div class="list-group">
    {{#if pending }}
    {{#each pending }}
      <div class="list-group-item">
        <h4 class="list-group-heading">{{ name }}</h4>
        <p class="list-group-item-text">
          Submitted By: <span class="belongsToName">{{ belongsToName }}</span><br/>
          Verify Bonus: <span class="verifyBonus">{{ verifyBonus }}</span> gold
        </p>
        <h5>
          Did they do a good job?
        </h5>
        <span class="hidden id">{{ id }}</span>
        <button type="submit" class="btn btn-success approve-chore"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="submit" class="btn btn-danger reject-chore"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/each}}
    {{else}}
      <div class="list-group-item">
        <p class="list-group-item-text">
          No chores are pending verification.
        </p>
      </div>
    {{/if}}
    </div>

    <h3>Completed</h3>
    <div class="list-group">
    {{#if completed }}
    {{#each completed }}
      <div class="list-group-item">
        <h4>{{ name }}</h4>
        <p class="list-group-item-text">
          Completed by {{ belongsToName }}.
        </p>
      </div>
    {{/each}}
    {{else}}
      <div class="list-group-item">
        <p class="list-group-item-text">
          No chores have been completed yet.
        </p>
      </div>
    {{/if}}
    </div>

    {{> footer }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pages/verify.js"></script>
  </body>
</html>
